{% extends 'base.html.twig' %}
{% block body %}

<h1> Usuarios </h1>

<div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Profesion</th>
            <th>Acciones</th>

          </tr>
        </thead>
        <tbody>
            {% for usuarios in usuarios%}
              <tr>
                    <td>{{usuarios.id}}</td>
                    <td>{{usuarios.nombre}}</td>
                    <td>{{usuarios.apellidos}}</td>
                    <td>{{usuarios.telefono}}</td>
                    <td>{{usuarios.edad}}</td>
                    <td>{{usuarios.Sexo}}</td>
                    <td>{{usuarios.Profesion}}</td>
                    <td>{{usuarios.Profesion}}</td>
                    <td><a href="{{ path('edit_usuario',{'id': usuarios.id}) }}" class="btn btn-info " role="button">Link Button</a></td>
                  </tr>
        
            {%endfor%}
        </tbody>
    </table>
        </div>
{% endblock %}